/*  *{padding:0;margin:0; font-family:Arial, Helvetica, sans-serif} */
.full2{background:#000000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;width:100%;height:100%;position:absolute;left:0;top:0;z-index:1000;}
.centeron{position:fixed;z-index:1002;left:50%;top:50%;_position:absolute;_left:expression((saw_X = document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth )/2 + ( scroll_X = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft )+'px'); 	_top:expression((saw_Y = document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight )/2 + ( scroll_Y = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )+"px");}
.tip_title { height:49px; line-height:49px; background-color:#E1E1E1; border-radius:5px 5px 0 0; color:#666; font-size:18px; text-indent:15px;}
.tip_box { height:326px; background:#fff; text-align:center; line-height:370px; padding-top:45px;}
.tip_title1 { height:49px; line-height:49px; background-color:#E1E1E1; border-radius:5px 5px 0 0; color:#666; font-size:18px; text-indent:15px;}
.tip_box1 { height:180px; background:#fff; padding:20px;}
.tip_box1 .pagebox { float:left; width:295px;}
.codebox { width:160px; float:right; color:#709A07; font-size:12px; text-align:center}
.codebox p { text-align:left; margin-top:5px;}
.codebox img { margin:0px auto; width:138px; height:138px; text-align:center}
.cloesd{ width:23px; height:23px;cursor:pointer;position:absolute;top:14px;right:14px; background:url('http://img.1mobile.com/web2/chrome_ex/images/close.png') no-repeat; display:block;}
.cloesd:hover { background-position:0 -25px;}
.cloesd:active { background-position:0 -50px;}
.downnow { background:url('http://img.1mobile.com/web2/chrome_ex/images/download.png') no-repeat; width:194px; height:44px; line-height:44px; text-align:center; color:#fff; font-size:16px; display:block; text-decoration:none}
.b6_google{ color:#666; font-size:14px; margin-bottom:15px;}
.f16_google { font-size:16px;}
.fb_google { font-weight:bold;color: #333;}
.topthis { border:#B5B5B5 1px solid; position:relative;}
.topthis i { width:15px; height:7px; position:absolute; top:-6px; right:10px;}